// Define variables for your color scheme

// For example:
//$red: #EE5F5B;
//$blue: #469AE0;
//$yellow: #FDB631;
//$orange: #E67E22;
//$green: #32B796;
//$gray: #000000;
//$light-gray: #F4F4F4;

$light-blue:
#F7FBFF
#F0F8FF
#D7E8F4
#D3E3ED
#C1D8DF

$red:
#630022
#760028
#8D002A
#980028
#A3243F
#B5405C
#C65D7A

$grey:
#91A170
#90A18E
#BEC9B0
#CDDAC6
#C6CEC6

$green-gray:
#7D927A
#90A18E
#A2B2A1
#B1BFB2
#C6CEC6
#D9DED9

$blue:
#2C5570
#325B85
#376197
#3E64B1
#4677B4
#4F89BF
#5E9EC8





