<p>Hello,</p>

<p>Someone invited you to join his/her apartment on 5crewed!</p>

<p>You can sign up here:</p>

<%= link_to 'Sign Up',  new_user_registration_url(apartment_id: @apartment_id, email: @email, tenant: true) %>

<p>Team 5crewed</p>
