.edit-container {
  display: grid;
  grid-template-columns: 20px repeat(5, 1fr) 20px;
  grid-template-rows: 10% 125px 35% 35% 10% 10%;
  height: calc(100vh - 70px);
  justify-content: right;
}

.issue-img {
  grid-row: 2 / span 1;
  grid-column: 5 / span 1;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  background: white;
  z-index: 100;
  border: 1px solid #747474;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.edit-img {
  grid-row: 3;
  grid-column: 5 / span 1;
  position: relative;
  height: 90%;
  width: 90%;
  margin-left: auto;
  margin-right: 10px;
  padding-top: 20px;
}

.edit-title {
  color: $md-blue;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 0.3em;
  text-decoration: none;
}

.edit-sub-title {
  color: $md-blue;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0.3em;
  text-decoration: none;

}
.edit-form-1 {
  grid-row: 2;
  grid-column: 3 / span 2;
  padding-left: 10px;
  padding-right: 10px;
}

.edit-form-2 {
  grid-row: 2;
  grid-column: 3 / span 2;
  padding-top: 130px;
  padding-left: 10px;
  padding-right: 10px;
}

.edit-form-3 {
  background: red;
  padding-top: 10px;
  padding-bottom: 100px;
}


@media all and (max-width: 768px) {
  .issue-img {
    grid-row: 2;
    grid-column: 3;
  }

  .edit-img {
    display: none;
  }

  .edit-form-1 {
    grid-row: 3;
    grid-column: 3;
  }

  .edit-form-2 {
    grid-row: 3;
    grid-column: 3;
    // padding-top: 10px;
  }
}

