.engineer-container {
  display: grid;
  grid-template-columns: 20px repeat(2, 1fr) 20px repeat(3, 1fr) 20px;
  grid-template-rows: 10px repeat(5, 1fr) 10px;
  height: calc(100vh - 70px);
  justify-content: right;
}

.engineer-list {
  grid-column: 2 / span 2;
  grid-row: 2 / span 5;
  overflow-y: scroll;
}

.engineer-map {
  grid-column: 5 / span 3;
  grid-row: 2 /span 5;
}

.engineer {
  height: 18vh;
  border: 3px solid $madison !important;
  border-radius: 10px;
  position: relative;
  margin-left: 3px;
  margin-right: 5px;
  margin-bottom: 10px;
  padding-left: 5px;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0.3em;
  text-decoration: none;
  h1 {
    font-size: 20px !important;
    color: $madison;
    right: 10px;
  }

  h5 {
    font-size: 16px;
    color: $bdfrance;
  }
}

.engineer-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: #747474;
  opacity: 0;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0.3em;
  text-decoration: none;
}

.engineer-link:hover {
  text-decoration: none;
  opacity: 0.1;
}

@media all and (max-width: 768px) {
    .enginer-container{
      display: grid;
      grid-template-columns: 10px 100% 10px;
    }


    .engineer-list {
      display: none;
    }

    .engineer-map {
      grid-column: 2 / span 6;
      padding-top: 10px;
    }
  }
