  <div class = "#">
    <div class = "#">
      <div>
        <h3>This is a success!</h3>
      </div>
      <div class = "#">
      <%= image_tag "modeloE.svg" %>
      </div>
      <div>
        <a href="https://www.facebook.com/sharer/sharer.php?s=100&p[url]=http://www.example.com&p[images][0]=&p[title]=Title%20Goes%20Here&p[summary]=Description%20goes%20here!" target="_blank" onclick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false"><button style="width:50%; margin-top:10px;" type="button" class="btn btn-facebook btn-lg"><i class="fa fa-facebook fa-2"></i> Share on Facebook</button></a>
      </div>
    </div>
  </div>
