 <div class="tutorial">

  <div class="icon1"><i class="fa fa-camera-retro"></i></div>
  <div class="step-1"> <span><br>1</span><br>take a photo or upload one to 5crewed.com</div>
  <div class="icon2"><i class="fa fa-list-alt"></i></div>
  <div class="step-2"> <span><br>2</span> <br> answer some troubleshooting questions and solve your problem with us</div>
  <div class="icon2"><i class="fa fa-envelope-o"></i></div>
  <div class="step-3"> <span><br>3</span> <br> or send it to your local engineer with all the key information he needs to help you!
  </div>

</div>
