<div class="grid-container">
  <div class="splash-img">
    <%= image_tag "modeloA.svg" %>
  </div>
  <% if current_user %>
  <div class="init-square">
    <%= simple_form_for([current_user, @issue]) do |f| %>
    <%= f.input :photo, as: :attachinary, input_html: { accept: "image/*", capture: "camera" } %>
    <%= f.button :submit %>
    <% end %>
    <% end %>
  </div>
</div>
