<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% if current_user %>
  <%= link_to "Upload this pic mr secretary!!!", new_user_issue_path(current_user) %>
<% else %>
  <%= link_to "Sign in Please", new_user_session_path %>
<% end %>

<br>

<div class="buttons">
  <ul class="list-inline">
      <li><a class="negative" href="#"><i class="fa fa-times "></i></a></li>
      <li><a class="positive" href="#"><i class="fa fa-check"></i></a></li>
    </ul>
</div>
