<div class="engineer-container">
  <div class="engineer-list">
    <% @engineers.each do |engineer| %>
      <div class="engineer">
        <h1><%= engineer.name %></h1>
        <h5><%= engineer.address %></h5>
        <%= link_to "", user_issue_engineer_path(params[:user_id], params[:issue_id], engineer.id), class: "engineer-link" %>
      </div>
    <% end %>
  </div>
  <div class="engineer-map" id="map" style="width: 100%; height: 100%;"></div>
</div>


<% content_for :after_js do %>
  <script>

    var markers = <%= raw @markers.to_json %>
    console.log('joe')
        var handler = Gmaps.build('Google');
        handler.buildMap({
          provider: {
            mapTypeControl: false,
            streetViewControl: false,
            zoomControlOptions: {
                position: google.maps.ControlPosition.LEFT_TOP
            }
          },
          internal: { id: 'map' } }, function() {
          markers = handler.addMarkers(markers);


          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
            handler.getMap().setZoom(2);
          } else if (markers.length == 1) {
            handler.getMap().setZoom(14);
          }
        });
  </script>
<% end  %>
