/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: $off-white;
  border: 0px;
  text-transform: uppercase;

}
.alert-info {
  background: #D59A42;
  border: 0px;
  text-transform: uppercase;
}
.alert-warning {
  background: #A56C29;
  border: 0px;
  text-transform: uppercase;
}
