
.flicker {
  color: black;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0.3em;
  text-decoration: none;
  background-color: $bdfrance;
}

.flicker2 {
  color: black;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0.3em;
  text-decoration: none;
  background-color: $bdfrance;
}
