
<h1>Apartments#Show</h1>
<p>I'm in the Apartments Controller</p>


<p>
  <strong>Address:</strong>
  <%= @apartment.address %>
</p>


<%= link_to 'Edit', edit_user_apartment_path(@apartment) %> |
<%= link_to 'Back', :back %>
